<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>CHANGE THIS FILE</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>CHANGE THIS FILE</string>
	<key>CLIENT_ID</key>
	<string>932201075353-5t5dvvmnllf3bhmi3c7ifd17f2bj6pi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932201075353-5t5dvvmnllf3bhmi3c7ifd17f2bj6pi2</string>
	<key>API_KEY</key>
	<string>CHANGE THIS FILE</string>
	<key>GCM_SENDER_ID</key>
	<string>932201075353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makma.SmartPiggyBank</string>
	<key>PROJECT_ID</key>
	<string>CHANGE THIS FILE</string>
	<key>STORAGE_BUCKET</key>
	<string>CHANGE THIS FILE</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>CHANGE THIS FILE</string>
	<key>DATABASE_URL</key>
	<string>CHANGE THIS FILE</string>
</dict>
</plist>
